<div class="container my-4 col-med-6">
  <div class="d-flex justify-content-center align-items-center">
    <div class="form-container">
    <h1 class="text-center">Browse by Genre</h1>
    <form>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Category</label>
        <select class="form-control decorated mb-2" id="searchcategories">
          <option>Horror</option>
          <option>Science Fiction</option>
          <option>Fantasy</option>
          <option>Comedy</option>
          <option>Adventure Story</option>
          <option>Children's Book</option>
          <option>Romance</option>
          <option>Mystery</option>
          <option>Memoir</option>
          <option>Others</option>
        </select>    
        <button class="btn btn-primary" id="searchform">Explore</button>
      </div>
    </form>
    </div>
  </div>
</div>

<script src="/js/booksearch2.js"></script>