

<div class="form-group">
    <label for="exampleFormControlSelect1">Category</label>
     <select class="form-control" id="searchcategories">
      <option>Horror</option>
      <option>Science Fiction</option>
      <option>Fantasy</option>
      <option>Comedy</option>
      <option>Adventure Story</option>
      <option>Children Book</option>
      <option>Romance</option>
      <option>Mystery</option>
      <option>Memoir</option>
      <option>Others</option>
    </select>
</div>
<button class="btn btn-primary" id="searchform">Explore this category</button>

<script src="/js/booksearch2.js"></script>