<ul class="nav nav-tabs justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="/">Home</a>
  </li>
   {{#if session.userId}}
    <li class="nav-item">
    <a class="nav-link" href="/booksearch">book search</a>
    </li>
     <li class="nav-item">
    <a class="nav-link active" href="/api/book/currentuser/book">checkedbook</a>
    </li>
      <li class="nav-item">
    <a class="nav-link" href="/api/user/book/own">mybook</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="/api/book/upload">upload</a>
    <li class="nav-item">
    <a class="nav-link" href="/api/user/logout">Log out</a>
    </li>
  </li>
            {{else}}
                <li class="nav-item">
                <a class="nav-link" href="/api/user/login">Login</a>
                </li>
            {{/if}}

</ul>


{{#each userdate}}
<div class="card">
  <div class="card-header">
    Book
  </div>
  <div class="card-body">
    <h5 class="card-title">{{bookname}}</h5>
    <p class="card-text">{{author}}</p>
    <button id="checkbtn" class="btn btn-primary" data-number="{{id}}">Go somewhere</button>
  </div>
</div>
{{/each}}


<script src="/js/currentbook.js"></script>