

{{#each userdate}}
<div class="card">
  <div class="card-header">
    Book
  </div>
  <div class="card-body">
    <img id="cloudinary-img" src={{url}} alt="">
    <h5 class="card-title">{{bookname}}</h5>
    <p class="card-text">{{author}}</p>
    <button id="checkbtn" class="btn btn-primary" data-number="{{id}}">Return Book</button>
  </div>
</div>
{{/each}}


<script src="/js/currentbook.js"></script>