{{!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">BookShelf</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Cart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/api/books/upload">Upload</a>
      </li>
    </ul>
  </div>
</nav>
<nav class="navbar-expand-lg navbar-light bg-light"></nav>
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="#">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">BookShelf</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Cart</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/api/books/upload">Upload</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </li>
</ul>
</nav --}}


<ul class="nav nav-tabs justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="/">Home</a>
  </li>
   {{#if session.userId}}
    <li class="nav-item">
    <a class="nav-link" href="/booksearch">book search</a>
    </li>
     <li class="nav-item">
    <a class="nav-link" href="/api/book/currentuser/book">checkedbook</a>
    </li>
      <li class="nav-item">
    <a class="nav-link" href="/api/user/book/own">mybook</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="/api/book/upload">upload</a>
    <li class="nav-item">
    <a class="nav-link" href="/api/user/logout">Log out</a>
    </li>
  </li>
            {{else}}
                <li class="nav-item">
                <a class="nav-link" href="/api/user/login">Login</a>
                </li>
            {{/if}}

</ul>


<div class="jumbotron jumbotron-fluid">
  <div class="container justify-content-center">
    <h1 class="display-4">Welcome to the Little Library</h1>
    <p class="lead">A library system where people can share books and borrow books!</p>
  </div>
</div>

