

<div class="jumbotron jumbotron-fluid mt-3">
  <div class="container justify-content-center">
    <h1 class="display-3">Welcome to the Little Library!</h1>
    <p class="display-10">A community library system for sharing and borrowing books!</p>
    <p class="display-10">Before utilizing this service, please take a moment to sign up for an account. You will then have access to a wide array of quality titles. Perhaps you'd like to lend a favorite!</p>
  </div>
</div>
<div class="container my-4 col-med-6">
  <div class="d-flex align-items-center">
    <div class="form-container">
      <h2>Perks!</h2>
      <ul>
        <li>No due dates.</li>
        <li>No fee dates.</li>
        <li>Borrow on the fly.</li>
      </ul>
    </div>
  </div>
</div>

