
<div class="jumbotron jumbotron-fluid mt-3">
  <div class="container justify-content-center">
    <h1 class="display-3" style="margin-top: 10px; margin-bottom: 25px;">Welcome to the Little Library!</h1>
    <p class="h5" style="margin-bottom:10px">A community library system for sharing and borrowing books!</p>
    <p class="h5">If you'd like to particpate, please take a moment to sign up for an account. Perhaps you'd like to lend a favorite?</p>
  </div>
</div>
<div class="container my-4 col-med-6">
  <div class="d-flex align-items-center">
    <div class="form-container">
      <h2>Benefits:</h2>
      <ul>
        <li>No due dates.</li>
        <li>No late fees.</li>
        <li>Borrow on the fly.</li>
        <li>Access to a wide variety of quality titles.</li>
      </ul>
    </div>
  </div>
</div>

