<div class="container my-4">
  <div class="d-flex justify-content-center align-items-center">
    <div class="form-container">
      <form>
        <div class="form-group">
          <label for="exampleInputPassword1" class="mb-1">Username</label>
          <input class="form-control mb-2" id="user-name">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1" class="mb-1">Email address</label>
          <input type="email" class="form-control mb-2" id="email-name" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1" class="mb-1">Password</label>
          <input type="password" class="form-control mb-2" id="password-name" placeholder="Password">
        </div>
        <button id="createuserbtn" class="btn btn-primary">Create</button>
      </form>
    </div>
  </div>
</div>

<script src="/js/signup.js"></script>